name: CI / GitHub Actions

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    name: Install dependencies
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@v2.2.0
      with:
        node-version: '12.x'
    - name: Install dependencies
      run: 'npm ci'
    - name: Run tests
      env:
        NODE_OPTIONS: --max_old_space_size=4096
      run: 'npm test'
    - uses: actions/upload-artifact@v2.2.3
      if: github['ref'] == 'refs/heads/master'
      with:
        name: 'Dist folder'
        path: dist/
    - name: Publish via semantic-release
      if: github['ref'] == 'refs/heads/master'
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: npm run semantic-release
