on:
  schedule:
    - cron: 0 */6 * * *
  workflow_dispatch: {}

name: Update source content

jobs:
  fetchLatestSourceContent:
    name: Fetch latest source content
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v2.2.0
        with:
          node-version: "12.x"
      - name: Fetch latest source content
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NODE_OPTIONS: --max_old_space_size=4096
        run: npm run update-source-content
      - run: git pull origin master
